html, body {
  margin: 0;
  padding: 0;
}

.image-viever {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 11;
  text-align: center;
}

.image-viever__header {
  padding: .5rem 0;
  color: white;
  width: 100%;
  z-index: 1;
  font-family: Roboto;
}

.image-viever__image {
  max-width: 100%;
  max-height: 100%;
}
